################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/packages
/src/RxUI6WithAutofac/bin/Debug
/src/RxUI6WithAutofac/obj/Debug
